body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* New line added to fill at least the viewport height */
}

.topnav {
  background-color: #9a3b3b;
  overflow: hidden;
  text-align: center;
}

.topnav a {
  display: inline-block;
  color: #ebef95;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #884a39;
  color: white;
}

header {
  background-color: #c08261;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  /* Remove the fixed height to allow the content to define the height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.slide-fade {
  max-width: 600px;
  padding: 0 20px;
  text-align: center;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

/* Style for individual slides */
.slide {
  display: none;
}

/* Style for text within slides */
.slideshow-container h1,
blockquote {
  text-align: center;
  background-color: grey;
  border: 10px solid #fff;
  padding: 20px;
  color: white;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 0;
  margin: 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.footer-logo h2 {
  font-size: 1.5rem;
  margin: 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin-right: 20px;
}

.footer-links a {
  text-decoration: none;
  color: white;
}

.footer-bottom {
  background-color: #222;
  padding: 10px 0;
  text-align: center;
}

.footer-logo img {
  max-width: 40%;
}

/* Media Queries */
@media (max-width: 768px) {
  .topnav a {
    font-size: 14px;
  }

  header {
    padding: 50px 0;
    /* Adjusted to padding to maintain consistency */
  }

  .slide-fade h1 {
    font-size: 1.5rem;
  }

  .footer-logo h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  header {
    padding: 30px 0;
    /* Adjusted padding to maintain consistency */
  }

  .slide-fade h1 {
    font-size: 1.2rem;
  }

  .footer-logo h2 {
    font-size: 1rem;
  }
}
